{
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "JSX": true
  },
  "rules": {
    "no-prototype-builtins": "off"
  }
}
